body {
    background-color: #000000;
    color: #D9A2C8;
    font-family:Tahoma;
}

  table, th, td {
    border: 1px solid pink;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: center;
  }

  .box{
    /*236*/
    height:230px;
  }

  .white{
    background:#fff;
  }